<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    {% endblock %}
    <style>
        p {
            font-weight: bold;
            font-size: 1.2em;
            color: green;
          }
    </style>
</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>
