{% extends 'base.html' %}

{% block title %}
<title>
    Словарь
</title>
{% endblock %}

{% block body %}
<h1>Словарь</h1>
<p>
    <form action="{% url 'word_create' %}">
        <input type="submit" value="Новое слово" />
    </form>
</p>
{% for word in all_words %}
    <ul>
        <li><a href="{% url 'word_detail' pk=word.pk %}">{{ word }}</a></li>
    </ul>
{% endfor %}
{% endblock %}