{% extends 'base.html' %}

{% block title %}
<title>
    Примеры
</title>
{% endblock %}

{% block body %}
<h1>Примеры</h1>
<a href="{% url 'main'%}">< на главную</a>
<p>
    <form action="{% url 'word_update' object.pk %}">
        <input type="submit" value="Редактировать слово" />
    </form>
</p>

<p>
    {{ word }}
</p>
    {% for el in examples %}
        <ul>
            <li>{{ el}}</li>
        </ul>
    {% endfor %}
{% endblock %}
