{% extends 'base.html' %}

{% block title %}
<title>
    Новое слово
</title>
{% endblock %}

{% block body %}
<a href="{% url 'main'%}">< на главную</a>
<form method="post">
    {% csrf_token %}
<!--рендерим как тег p-->
    {{ form.as_p }}

    <input type="submit" value="Готово">
</form>

{% endblock %}